<?xml version="1.0" encoding="UTF-8"?>
<!-- This web.xml file is not required when using Servlet 3.0 container,
     see implementation details http://jersey.java.net/nonav/documentation/latest/jax-rs.html -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>Jersey Web Application</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>com.vineeth.sampleProject1</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey Web Application</servlet-name>
    <url-pattern>/webapi/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User</display-name>
    <servlet-name>User</servlet-name>
    <servlet-class>com.vineeth.Servlets.User</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User</servlet-name>
    <url-pattern>/User</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Employee</display-name>
    <servlet-name>Employee</servlet-name>
    <servlet-class>com.vineeth.Servlets.Employee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Employee</servlet-name>
    <url-pattern>/Employee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerLogin</display-name>
    <servlet-name>CustomerLogin</servlet-name>
    <servlet-class>com.vineeth.Servlets.CustomerLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerLogin</servlet-name>
    <url-pattern>/CustomerLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeLogin</display-name>
    <servlet-name>EmployeeLogin</servlet-name>
    <servlet-class>com.vineeth.Servlets.EmployeeLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeLogin</servlet-name>
    <url-pattern>/EmployeeLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerSignUp</display-name>
    <servlet-name>CustomerSignUp</servlet-name>
    <servlet-class>com.vineeth.Servlets.CustomerSignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerSignUp</servlet-name>
    <url-pattern>/CustomerSignUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Transaction</display-name>
    <servlet-name>Transaction</servlet-name>
    <servlet-class>com.vineeth.Servlets.Transaction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Transaction</servlet-name>
    <url-pattern>/Transaction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewBalance</display-name>
    <servlet-name>ViewBalance</servlet-name>
    <servlet-class>com.vineeth.Servlets.ViewBalance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewBalance</servlet-name>
    <url-pattern>/ViewBalance</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TransferMoney</display-name>
    <servlet-name>TransferMoney</servlet-name>
    <servlet-class>com.vineeth.Servlets.TransferMoney</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransferMoney</servlet-name>
    <url-pattern>/TransferMoney</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MoneyWithdrawl</display-name>
    <servlet-name>MoneyWithdrawl</servlet-name>
    <servlet-class>com.vineeth.Servlets.MoneyWithdrawl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MoneyWithdrawl</servlet-name>
    <url-pattern>/MoneyWithdrawl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeOperation1</display-name>
    <servlet-name>EmployeeOperation1</servlet-name>
    <servlet-class>com.vineeth.Servlets.EmployeeOperation1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeOperation1</servlet-name>
    <url-pattern>/EmployeeOperation1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.vineeth.Servlets.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
</web-app>